#fade {
    opacity: 0;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: auto;
    transition-duration: 2s;
    width: 1920px;
    height: 1080px;
}

#fade.fade-out {
    opacity: 1;
}
